@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

body {
    font-family: 'Roboto', sans-serif;
}

.habstar th {
    font-weight: normal;
}

.navbar {
    border-radius: 0;
}