{% extends 'layout.html' %}
{% set active_page = '' %}
{% block title %}Hipparcos {{ habstar.hip }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hipparcos {{ habstar.hip }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table habstar">
                    <tbody>
                        <tr>
                            <th>Right ascension</th>
                            <td>{{ habstar.loc_cel.ra[0] }}<sup>h</sup>{{ habstar.loc_cel.ra[1] }}<sup>m</sup>{{ habstar.loc_cel.ra[2] }}<sup>s</sup></td>
                        </tr>
                        <tr>
                            <th>Declination</th>
                            <td>{{ habstar.loc_cel.dec[0] }}&deg;{{ habstar.loc_cel.dec[1] }}'{{ habstar.loc_cel.dec[2] }}"</td>
                        </tr>
                        <tr>
                            <th>Johnson magnitude</th>
                            <td>{{ habstar.mag }}</td>
                        </tr>
                        <tr>
                            <th>Parallax (mas)</th>
                            <td>{{ habstar.parx_mas.v }} &plusmn; {{ habstar.parx_mas.s }}</td>
                        </tr>
                        <tr>
                            <th>Distance (pc)</th>
                            <td>{{ "%.2f" | format(habstar.dist_pc) }}</td>
                        </tr>
                        <tr>
                            <th>Cartesian coordinates (pc)</th>
                            <td>({{ "%.2f" | format(habstar.loc_cart_pc[0]) }}, {{ "%.2f" | format(habstar.loc_cart_pc[1]) }}, {{ "%.2f" | format(habstar.loc_cart_pc[2]) }})</td>
                        </tr>
                        <tr>
                            <th>B &ndash; V</th>
                            <td>{{ habstar.bmv.v }} &plusmn; {{ habstar.bmv.s }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Explore</div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{ url_for('find', t='d', c=habstar.hip, d=10) }}">Find habstars within 10 pc</a></li>
                            <li><a href="{{ url_for('find', t='m', c=habstar.hip) }}">Find habstars of similar magnitude</a></li>
                            <li><a href="{{ url_for('find', t='c', c=habstar.hip) }}">Find habstars of similar color</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}