{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="container">
        <h2>Browse the HabCat</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hipparcos</th>
                    <th>RA</th>
                    <th>Dec</th>
                    <th>Mag</th>
                    <th>Dist (pc) to Sol</th>
                    <th>x (pc)</th>
                    <th>y (pc)</th>
                    <th>z (pc)</th>
                    <th>B &ndash; V</th>
                </tr>
            </thead>
            <tbody>
                {% for habstar in habstars.items %}
                    <tr>
                        <td><a href="{{ url_for('detail', id=habstar.hipparchos_num) }}">{{ habstar.hipparchos_num }}</a></td>
                        <td>{{ "%02d" | format(habstar.ra_hours) }}<sup>h</sup>{{ "%02d" | format(habstar.ra_minutes) }}<sup>m</sup>{{ "%02.2f" | format(habstar.ra_seconds) }}<sup>s</sup></td>
                        <td>{{ "%02d" | format(habstar.dec_degrees) }}&deg;{{ "%02d" | format(habstar.dec_minutes) }}'{{ "%02.2f" | format(habstar.dec_seconds) }}"</td>
                        <td>{{ habstar.johnson_mag }}</td>
                        <td>{{ "%.2f" | format(habstar.dist_pc) }}</td>
                        <td>{{ "%.2f" | format(habstar.x_pc) }}</td>
                        <td>{{ "%.2f" | format(habstar.y_pc) }}</td>
                        <td>{{ "%.2f" | format(habstar.z_pc) }}</td>
                        <td>{{ habstar.b_minus_v }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% macro render_pagination(pagination, endpoint) %}
            <nav>
                <ul class="pagination">
                    {% if pagination.has_prev %}
                        <li><a href="{{ url_for(endpoint, p=pagination.page - 1) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Prev</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Prev</span></a></li>
                    {% endif %}
                    {%- for page in pagination.iter_pages() %}
                        {% if page %}
                            {% if page != pagination.page %}
                                <li><a href="{{ url_for(endpoint, p=page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="#">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class="ellipsis">&hellip;</span></li>
                        {% endif %}
                    {%- endfor %}
                {% if pagination.has_next %}
                    <li><a href="{{ url_for(endpoint, p=pagination.page + 1) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                {% else %}
                    <li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                {% endif %}
                </ul>
            </nav>
        {% endmacro %}
        {{ render_pagination(habstars, 'home') }}
    </div>
{% endblock %}