{% set nav_bar = [
    (url_for('home'), 'home', 'Browse'),
    ('#', 'about', 'About'),
    (url_for('download'), 'download', 'Download')
] -%}
{% set active_page = active_page | default('home') %}
{% macro render_pagination(pagination, endpoint) %}
    <nav>
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li><a href="{{ url_for(endpoint, p=pagination.page - 1) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Prev</span></a></li>
            {% else %}
                <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Prev</span></a></li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, p=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><span class="ellipsis">&hellip;</span></li>
                {% endif %}
            {%- endfor %}
        {% if pagination.has_next %}
            <li><a href="{{ url_for(endpoint, p=pagination.page + 1) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        {% else %}
            <li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        {% endif %}
        </ul>
    </nav>
{% endmacro %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - HabCat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">HabCat</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% for url, id, caption in nav_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}>
                            <a href="{{ url | e }}">{{ caption | e }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>